<?xml version="1.0"?>

<launch>
    <rosparam command="load" file="$(find fsds_utils)/config/config.yaml" />

    <group ns="vision_node">
        <node name="vision" pkg="fsds_utils" type="vision.py" output="screen" />
    </group>

    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find fsds_utils)/rviz/rviz_config.rviz" /> -->
</launch>